     .col-md-4 img{
    border-radius: 15px;
}



/* .active:hover {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

#cont_1{
    background-color: black;
    height: 90vh;
    width: 100vh;

} */